@import '~antd/dist/antd.css';

.Box{
  height:600px;  
  background-color: #ececec ;
  display:flex;
  justify-content:center; 
  align-items:center;  
}

.BoxSon{
  display: flex;
  justify-content: center;
}


